<!-- modal placeholder-->


<div id='Modal' class='modal fade' aria-hidden="true" data-backdrop="static" tabindex="-1">
    <div class="modal-content">
        <div id='ModalContent'></div>
    </div>
    @*<div class="modal-dialog">
            <div class="modal-content">
                <div id='ModalContent'></div>
            </div>
        </div>*@
</div>
