<!--<div ng-controller="ModalDemoCtrl">
    
    <button class="btn btn-default" >Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>-->

<div class="row">
    <div class="col-md-12">
        <div class="block">
            <strong>用户权限相关：</strong>
            请编辑其所属角色的权限，用户的权限是其所有角色所拥有的权限汇总！
        </div>

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <a class="btn btn-sm default red-stripe delete" href="javascript:;">
                        <i class="fa fa-trash-o"></i>
                        <span class="hidden-480">
                            删除
                        </span>
                    </a>
                    <sapn ng-controller="ModalDemoCtrl">
                        <script type="text/ng-template" id="myModalContent.html">
                            <form id="mainForm" role="form" name="mainForm" class="form-horizontal" ng-submit="submitForm(mainForm.$valid)" novalidate>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{title}}</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal">
                                        <div class="form-group" ng-class="[
                             {'has-error':mainForm.LoginName.$invalid && !mainForm.LoginName.$pristine},
                             {'has-success':mainForm.LoginName.$valid}]">
                                            <label class="control-label col-md-3"><span class="required">*</span>登录名：</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-user"></i>
                                                    </span>
                                                    <div class="input-icon right">
                                                        <i class="fa" ng-class="[
                                           {'fa-warning':mainForm.LoginName.$invalid && !mainForm.LoginName.$pristine},
                                           {'fa-check':mainForm.LoginName.$valid && !mainForm.LoginName.$pristine}]"></i>
                                                        <input class="form-control text-box single-line input-medium"
                                                               data-val="true"
                                                               data-val-required="登录名少于2个字符"
                                                               id="LoginName"
                                                               name="LoginName"
                                                               type="text"
                                                               value=""
                                                               required
                                                               ng-minlength="2"
                                                               ng-model="LoginName"
                                                               remote-userexist>
                                                    </div>
                                                </div>
                                                <span class="help-inline">
                                                    <span class="help-block" ng-hide="flg()"> {{msg}} </span>
                                                    <!--<span class="help-block" ng-show="mainForm.LoginName.$invalid && !mainForm.LoginName.$pristine"> 登录名少于2个字符 </span>-->
                                                </span>
                                            </div>

                                        </div>
                                        <div class="form-group" ng-class="[
                             {'has-error':mainForm.Password.$invalid && !mainForm.Password.$pristine},
                             {'has-success':mainForm.Password.$valid}]">
                                            <label class="control-label col-md-3"><span class="required">*</span>密码：</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-dot-circle-o"></i>
                                                    </span>
                                                    <div class="input-icon right">
                                                        <i class="fa" ng-class="[
                                           {'fa-warning':mainForm.Password.$invalid && !mainForm.Password.$pristine},
                                           {'fa-check':mainForm.Password.$valid}]"></i>
                                                        <input class="form-control text-box single-line input-medium"
                                                               data-val="true"
                                                               data-val-required="Password 字段是必需的。"
                                                               id="Password"
                                                               name="Password"
                                                               type="text"
                                                               value=""
                                                               required
                                                               readonly
                                                               ng-model="Password">
                                                    </div>
                                                </div>
                                                <span class="help-inline">默认密码6个1</span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="[
                             {'has-error':mainForm.Email.$invalid && !mainForm.Email.$pristine},
                             {'has-success':mainForm.Email.$valid}]">
                                            <label class="control-label col-md-3">邮箱：</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <div class="input-icon right">
                                                        <i class="fa" ng-class="[
                                           {'fa-warning':mainForm.Email.$invalid && !mainForm.Email.$pristine},
                                           {'fa-check':mainForm.Email.$valid && !mainForm.Email.$pristine}]"></i>
                                                        <input class="form-control text-box single-line input-medium"
                                                               data-val="true"
                                                               data-val-regex="电子邮件地址无效"
                                                               type="email"
                                                               id="Email"
                                                               name="Email"
                                                               value=""
                                                               required
                                                               ng-model="Email">
                                                    </div>
                                                </div>
                                                <span class="help-inline">
                                                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="[
                             {'has-error':mainForm.Mobile.$invalid && !mainForm.Mobile.$pristine},
                             {'has-success':mainForm.Mobile.$valid}]">
                                            <label class="control-label col-md-3">手机：</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-phone"></i>
                                                    </span>
                                                    <div class="input-icon right">
                                                        <i class="fa" ng-class="[
                                           {'fa-warning':mainForm.Mobile.$invalid && !mainForm.Mobile.$pristine},
                                           {'fa-check':mainForm.Mobile.$valid && !mainForm.Mobile.$pristine}]"></i>
                                                        <input class="form-control text-box single-line input-medium"
                                                               data-val="true"
                                                               data-val-regex="不是有效的手机号码"
                                                               data-val-regex-pattern="^[1-9]{1}\d{10}$"
                                                               id="Mobile"
                                                               name="Mobile"
                                                               type="number"
                                                               value=""
                                                               required
                                                               ng-maxlength="11"
                                                               ng-minlength="11"
                                                               ng-model="Mobile">
                                                    </div>
                                                </div>
                                                <span class="help-inline"><span class="field-validation-valid" data-valmsg-for="Mobile" data-valmsg-replace="true"></span></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">激活：</label>
                                            <div class="col-md-4">


                                                <toggle-switch ng-model="IsActive">
                                                </toggle-switch>
                                                {{IsActive}}
                                                <!--<<input type="checkbox" id="aa" class="make-switch" ng-model="IsActive">
                            input name="IsActive" type="hidden" value="false" ng-model="IsActive">-->
                                                <!-- ng-model="user.IsActive" ng-true-value="true" ng-false-value="false"<input checked="checked" class="make-switch" data-off-text="否" data-on-text="是" data-val="true" data-val-required="IsActive 字段是必需的。" id="active" name="IsActive" type="checkbox" value="true"><input name="IsActive" type="hidden" value="false">-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">角色：</label>
                                            <div class="col-md-4">
                                                <label ng-repeat="RoleId in RoleIds"> 
                                                <input id="RoleIds" name="RoleIds" type="checkbox" value="{{RoleId.ID}}" ng-model="RoleId.selected"> 
                                                {{RoleId.Name}} </label>
                                                
                                                <!--<label> <input id="RoleIds" name="RoleIds" style="border:none;" type="checkbox" value="3" ng-model="RoleIds[3]">  测试工程师</label>
                                                <label> <input id="RoleIds" name="RoleIds" style="border:none;" type="checkbox" value="2" ng-model="RoleIds[2]">  高级工程师</label>
                                                <label> <input id="RoleIds" name="RoleIds" style="border:none;" type="checkbox" value="1" ng-model="RoleIds[1]">  系统管理员</label>-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <pre>{{selection|json}}</pre>
                                            
                                        </div>
                                    </div>
                                    <!--<ul>
                                        <li ng-repeat="item in items">
                                            <a ng-click="selected.item = item">{{ item }}</a>
                                        </li>
                                    </ul> Selected:
                                    <b>{{ selected.item }}</b>-->
                                    <per>{{user|json}}</per>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn blue btn-sm default" ng-disabled="mainForm.$invalid" ng-click="ok()">
                                        <i class="fa fa-check"></i>提交
                                    </button>
                                    <button class="btn btn-sm default" ng-click="cancel()">撤销</button>
                                </div>
                            </form>
                        </script>
                        <a ng-click="open()" class="btn btn-sm default blue-stripe" id="add">
                            <i class="fa fa-plus"></i>
                            <span class="hidden-480">
                                新建
                            </span>
                        </a>
                      </sapn>
                    </div>

            </div>
            <div class="portlet-body">
                <div class="table-container" >
                    <!--<table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover"></table>-->
                    <datatable-wrapper>
                        <table datatable="" class="table table-striped table-bordered table-hover " dt-options="dtOptions" dt-columns="dtColumns"></table>
                    </datatable-wrapper>
                </div>

            </div>
        </div>


    </div>
</div>
<div>
    <p>{{time}}</p>
    <pre>{{ selected |json }}</pre>
    {{user.title}}
  
</div>

<div class="portlet-body">
    <div class="row">
        <div class="col-md-6">
            
        </div>

    </div>
</div>