USE [EviousAccount]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2015/7/24 21:23:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoginInfo]    Script Date: 2015/7/24 21:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginInfo](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[LoginToken] [uniqueidentifier] NOT NULL,
	[LastAccessTime] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[BusinessPermissionString] [nvarchar](4000) NULL,
	[ClientIP] [nvarchar](90) NULL,
	[EnumLoginAccountType] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoginInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 2015/7/24 21:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[Info] [nvarchar](300) NULL,
	[BusinessPermissionString] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2015/7/24 21:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CityOrState] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[ProfileImg] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2015/7/24 21:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSessionData]    Script Date: 2015/7/24 21:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessionData](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[LoginToken] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](500) NOT NULL,
	[Value] [image] NOT NULL,
 CONSTRAINT [PK_UserSessionData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VerifyCode]    Script Date: 2015/7/24 21:23:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VerifyText] [nvarchar](50) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [VerifyCode_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LoginInfo] ON 

INSERT [dbo].[LoginInfo] ([ID], [CreateTime], [LoginToken], [LastAccessTime], [UserID], [LoginName], [BusinessPermissionString], [ClientIP], [EnumLoginAccountType], [Avatar]) VALUES (63, CAST(0x0000A32800799912 AS DateTime), N'44e63c56-42fb-4419-8916-66949415504d', CAST(0x0000A3280079999F AS DateTime), 7, N'admin', N'101,102,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506', N'119.126.179.51', 0, NULL)
INSERT [dbo].[LoginInfo] ([ID], [CreateTime], [LoginToken], [LastAccessTime], [UserID], [LoginName], [BusinessPermissionString], [ClientIP], [EnumLoginAccountType], [Avatar]) VALUES (1061, CAST(0x0000A35B012CC5CE AS DateTime), N'41a2f7ce-363d-40b4-84bb-5084d906d203', CAST(0x0000A35B012CC664 AS DateTime), 7, N'admin', N'101,102,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506', N'183.26.181.202', 0, NULL)
INSERT [dbo].[LoginInfo] ([ID], [CreateTime], [LoginToken], [LastAccessTime], [UserID], [LoginName], [BusinessPermissionString], [ClientIP], [EnumLoginAccountType], [Avatar]) VALUES (1062, CAST(0x0000A363012ECF57 AS DateTime), N'8e438fbe-88a9-4abb-a0cd-32344b2120fe', CAST(0x0000A3640003E699 AS DateTime), 7, N'admin', N'101,102,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506', N'218.13.27.108', 0, NULL)
SET IDENTITY_INSERT [dbo].[LoginInfo] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name], [CreateTime], [Info], [BusinessPermissionString]) VALUES (1, N'系统管理员', CAST(0x0000A27900EFEC38 AS DateTime), N'暂时无', N'101,102,103,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506,507')
INSERT [dbo].[Role] ([ID], [Name], [CreateTime], [Info], [BusinessPermissionString]) VALUES (2, N'高级工程师', CAST(0x0000A27900F2C9BC AS DateTime), N'暂时无', N'101')
INSERT [dbo].[Role] ([ID], [Name], [CreateTime], [Info], [BusinessPermissionString]) VALUES (3, N'测试工程师', CAST(0x0000A27F01261DAA AS DateTime), N'测试项目的人员', NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [LoginName], [Password], [CreateTime], [IsActive], [Email], [Mobile], [FullName], [Address], [CityOrState], [CountryCode], [ProfileImg], [Url]) VALUES (1, N'guozili', N'C9-55-45-E4-DE-40-C0-BE-F5-3D-BF-AF-69-FB-19-DE', CAST(0x0000A27900EF6E1A AS DateTime), 1, N'guozili@163.com', N'13911153443', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([ID], [LoginName], [Password], [CreateTime], [IsActive], [Email], [Mobile], [FullName], [Address], [CityOrState], [CountryCode], [ProfileImg], [Url]) VALUES (2, N'guozili2', N'96-E7-92-18-96-5E-B7-2C-92-A5-49-DD-5A-33-01-12', CAST(0x0000A27F00EC1F62 AS DateTime), 0, N'guozili2@gmail.com', N'13856567825', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([ID], [LoginName], [Password], [CreateTime], [IsActive], [Email], [Mobile], [FullName], [Address], [CityOrState], [CountryCode], [ProfileImg], [Url]) VALUES (4, N'guozili3', N'96-E7-92-18-96-5E-B7-2C-92-A5-49-DD-5A-33-01-12', CAST(0x0000A27F01143C57 AS DateTime), 1, N'guozili3@163.com', N'13911854551', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [UserID], [RoleID], [CreateTime]) VALUES (1, 1, 1, CAST(0x0000A27900EFFB08 AS DateTime))
INSERT [dbo].[UserRole] ([ID], [UserID], [RoleID], [CreateTime]) VALUES (2, 1, 2, CAST(0x0000A27900F320D7 AS DateTime))
INSERT [dbo].[UserRole] ([ID], [UserID], [RoleID], [CreateTime]) VALUES (7, 2, 1, CAST(0x0000A27F011BEE91 AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
SET IDENTITY_INSERT [dbo].[VerifyCode] ON 

INSERT [dbo].[VerifyCode] ([ID], [VerifyText], [Guid], [CreateTime]) VALUES (12489, N'qzzo', N'528c6963-eb16-4e63-af75-924bdf7a72cb', CAST(0x0000A475006D8A86 AS DateTime))
INSERT [dbo].[VerifyCode] ([ID], [VerifyText], [Guid], [CreateTime]) VALUES (12491, N'yryf', N'9d930997-8597-4758-be98-633355269588', CAST(0x0000A4860133A56A AS DateTime))
INSERT [dbo].[VerifyCode] ([ID], [VerifyText], [Guid], [CreateTime]) VALUES (13488, N'sskh', N'30135c94-a2eb-4526-a7fd-4f3b63bb5f70', CAST(0x0000A497013F82C6 AS DateTime))
SET IDENTITY_INSERT [dbo].[VerifyCode] OFF
ALTER TABLE [dbo].[LoginInfo] ADD  CONSTRAINT [DF_LoginInfo_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[LoginInfo] ADD  DEFAULT ((0)) FOR [EnumLoginAccountType]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[UserSessionData] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[VerifyCode] ADD  CONSTRAINT [DF_VerifyCode_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
