@using Evisou.Framework.Contract
@using Evisou.Framework.Utility
@using Evisou.Framework.Web.Controls
@using Evisou.Ims.Contract.Model;
@using Evisou.Web;

<div class="modal-header">

    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <div id='div1'>
    </div>
    <h4 class="modal-title" id="ModalLabel">
        同步订单

    </h4>
    <span id="txtprocesss"></span>
    <div class="progress progress-striped active" id="progress" style="display: none;">
        <div class="progress-bar progress-bar-success" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <span class="sr-only">

            </span>
        </div>
    </div>
</div>

<div class="modal-body">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        表单有错误,请检查
    </div>
    <div class="alert alert-success display-hide">
        <button class="close" data-close="alert"></button>
        验证成功
    </div>
    <div class="form-horizontal">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">
                    同步时间: <span class="required">
                        *
                    </span>
                </label>
                <div class="col-md-4">
                    @*<div class="input-group input-large" id="defaultrange_modal2">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn default date-range-toggle" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>*@
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            <div class="input-group input-large" id="rangepicker">
                                <input type="text" class="form-control text-box single-line input-medium" data-val="true" name="RangeDate" id="RangeDate" data-val-required="选择同步的日期">
                                
                                <span class="help-block">
                                    <span class="field-validation-valid" data-valmsg-for="RangeDate" data-valmsg-replace="true"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">
                    账号： <span class="required">
                        *
                    </span>
                </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-cubes"></i>
                        </span>
                        <div class="input-icon right">
                            <i class="fa"></i>
                            @Html.DropDownList("PaypalApi", ViewBag.PaypalApi as SelectList, null, new { @class = "form-control text-box single-line input-medium select2me" })
                        </div>
                    </div>
                    <span class="help-inline"></span>
                </div>

            </div>




        </div>

    </div>
</div>

<div class="modal-footer">
    <button type="submit" id="submitbutton" class="btn blue btn-sm default"><i class="fa fa-check"></i> 提交</button>
    <button type="button" class="btn btn-sm default" id="cancel" data-dismiss="modal">撤销</button>
</div>

<script>
    jQuery(document).ready(function () {
        Transaction.sync("@Guid.NewGuid().ToString()");
    });
</script>
