USE [master]
GO
/****** Object:  Database [EviousIms]    Script Date: 2014/10/19 7:56:46 ******/
CREATE DATABASE [EviousIms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EviousIms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EviousIms.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EviousIms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EviousIms_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EviousIms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EviousIms]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AgentName] [nvarchar](max) NOT NULL,
	[AgentCode] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[WebURL] [nvarchar](max) NULL,
	[SaleMangerMobile] [nvarchar](max) NULL,
	[SaleManager] [nvarchar](max) NULL,
	[Consignee] [nvarchar](max) NULL,
	[ConsigneeTel] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CSQQ] [nvarchar](max) NULL,
	[CS] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Agent] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Association]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Association](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[PaypalApiID] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[ItemTitle] [nvarchar](160) NULL,
	[StorePlace] [nvarchar](max) NULL,
	[SellingPlace] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Association] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaypalApi]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaypalApi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ApiUserName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ApiPassword] [nvarchar](50) NOT NULL,
	[PPAccount] [nvarchar](max) NOT NULL,
	[Signature] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.PaypalApi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Sku] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Size] [nvarchar](max) NULL,
	[Weight] [int] NOT NULL,
	[PackSize] [nvarchar](100) NOT NULL,
	[PackWeight] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[CoverPicture] [nvarchar](300) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[PurchaseTransactionID] [nvarchar](max) NULL,
	[SupplierID] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Purchase] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PurchaseProducts]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseProducts](
	[ProductID] [int] NOT NULL,
	[PurchaseID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.PurchaseProducts] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Platform] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[CS] [nvarchar](max) NULL,
	[CSPhone] [nvarchar](max) NULL,
	[Contact] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Supplier] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupplierProducts]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupplierProducts](
	[SupplierId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SupplierProducts] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionDetail]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[ReceiverBusiness] [nvarchar](max) NULL,
	[ReceiverID] [nvarchar](max) NULL,
	[ReceiverEmail] [nvarchar](max) NULL,
	[TransactionID] [nvarchar](max) NULL,
	[ParentTransactionID] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](max) NULL,
	[PaymentType] [nvarchar](max) NULL,
	[OrderTime] [datetime] NOT NULL,
	[Amt] [money] NOT NULL,
	[FeeAmt] [money] NOT NULL,
	[CurrencyCode] [nvarchar](max) NULL,
	[PaymentStatus] [nvarchar](max) NULL,
	[PendingReason] [nvarchar](max) NULL,
	[ReasonCode] [nvarchar](max) NULL,
	[ProtectionEligibility] [nvarchar](max) NULL,
	[TaxAmt] [money] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PayerID] [nvarchar](max) NULL,
	[PayerStatus] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[ShiptoName] [nvarchar](max) NULL,
	[ShipToStreet] [nvarchar](max) NULL,
	[ShipToStreet2] [nvarchar](max) NULL,
	[ShiptoCity] [nvarchar](max) NULL,
	[ShipToState] [nvarchar](max) NULL,
	[ShipToCountryCode] [nvarchar](max) NULL,
	[ShipToCountryName] [nvarchar](max) NULL,
	[ShipToZip] [nvarchar](max) NULL,
	[AddressOwner] [nvarchar](max) NULL,
	[AddressStatus] [nvarchar](max) NULL,
	[SaleTax] [money] NOT NULL,
	[ShipAmount] [money] NOT NULL,
	[ShipHandleAmount] [money] NOT NULL,
	[InsuranceAmount] [money] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[BuyerID] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Remark] [nvarchar](max) NULL,
	[TrackingNumber] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[Express] [nvarchar](max) NULL,
	[AgentPostage] [decimal](18, 2) NOT NULL,
	[Agent] [int] NOT NULL,
	[OrderSign] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TransactionDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransactionItem]    Script Date: 2014/10/19 7:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionDetailID] [int] NOT NULL,
	[ItemID] [nvarchar](max) NULL,
	[ItemTitle] [nvarchar](160) NULL,
	[ItemQty] [int] NOT NULL,
	[ItemAmt] [money] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[AssociationID] [int] NULL,
 CONSTRAINT [PK_dbo.TransactionItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Agent] ON 

INSERT [dbo].[Agent] ([ID], [AgentName], [AgentCode], [Address], [WebURL], [SaleMangerMobile], [SaleManager], [Consignee], [ConsigneeTel], [Email], [CSQQ], [CS], [CreateTime], [UserId], [UserName]) VALUES (2, N'三态速递', N'SFC', N'广东省深圳市宝安区龙华大浪鹊山路口光浩工业园E栋7楼', NULL, N'(123) 456-9651', N'的撒旦撒', N'飒飒大撒旦撒旦', N'(123) 456-9651', N'happymama0813@gmail.com', N'43242343242', N'曾小姐', CAST(0x0000A3130141D639 AS DateTime), 7, N'admin')
SET IDENTITY_INSERT [dbo].[Agent] OFF
SET IDENTITY_INSERT [dbo].[Association] ON 

INSERT [dbo].[Association] ([ID], [ProductID], [PaypalApiID], [UserId], [UserName], [ItemTitle], [StorePlace], [SellingPlace], [CreateTime]) VALUES (10, 1, 3, 7, N'admin', N'7-Inch Leopard Quad Core CPU Android Tablet 1GB RAM HMDI 8GB Nand Dual Camera UK', N'GB', N'GB', CAST(0x0000A31A0145242C AS DateTime))
INSERT [dbo].[Association] ([ID], [ProductID], [PaypalApiID], [UserId], [UserName], [ItemTitle], [StorePlace], [SellingPlace], [CreateTime]) VALUES (11, 3, 3, 7, N'admin', N'7'''' Android GPS SAT NAV Voice Touch navigator UK&EUR 2013 MAP 512RAM 8G WIFI UK', N'GB', N'GB', CAST(0x0000A31E00BE7F20 AS DateTime))
SET IDENTITY_INSERT [dbo].[Association] OFF
SET IDENTITY_INSERT [dbo].[PaypalApi] ON 

INSERT [dbo].[PaypalApi] ([ID], [ApiUserName], [IsActive], [ApiPassword], [PPAccount], [Signature], [CreateTime], [UserId], [UserName]) VALUES (2, N'happymama0813_api1.gmail.com', 1, N'7HYJ9JWXV355VYDS', N'happymama0813@gmail.com', N'AFcWxV21C7fd0v3bYYYRCpSSRl31ANn5iQMgbjMBYGj.sOh0il.HjCRI', CAST(0x0000A31400B3629B AS DateTime), 7, N'admin')
INSERT [dbo].[PaypalApi] ([ID], [ApiUserName], [IsActive], [ApiPassword], [PPAccount], [Signature], [CreateTime], [UserId], [UserName]) VALUES (3, N'vson.mail_api1.gmail.com', 1, N'SXRM84PQDRDF2NN8', N'vson.mail@gmail.com', N'AiPC9BjkCyDFQXbSkoZcgqH3hpacAVh7dGhDzP86zF0PmJmF3H74KeiX', CAST(0x0000A3190086A294 AS DateTime), 7, N'admin')
SET IDENTITY_INSERT [dbo].[PaypalApi] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [UserId], [UserName], [Sku], [Name], [Size], [Weight], [PackSize], [PackWeight], [Remark], [CoverPicture], [CreateTime]) VALUES (1, 7, N'admin', N'HWWA0704B', N'4核炬力平板1GB Ram 8GB Flash', NULL, 700, N'22*15*9', 700, N'0000', N'/Upload/ims/day_140416/201404161154362611.jpg', CAST(0x0000A30F00C44EE8 AS DateTime))
INSERT [dbo].[Product] ([ID], [UserId], [UserName], [Sku], [Name], [Size], [Weight], [PackSize], [PackWeight], [Remark], [CoverPicture], [CreateTime]) VALUES (3, 7, N'admin', N'HWWA0703B', N'7寸wince 导航仪 128ram 4GB mtk', N'22*15*9', 560, N'22*15*9', 750, NULL, N'/Upload/ims/day_140420/201404200945269463.jpg', CAST(0x0000A31300A0D92A AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([ID], [UserId], [UserName], [PurchaseDate], [PurchaseTransactionID], [SupplierID], [CreateTime]) VALUES (5, 7, N'admin', CAST(0x0000901A00000000 AS DateTime), N'2211111111', 2, CAST(0x0000A313010B8A2B AS DateTime))
SET IDENTITY_INSERT [dbo].[Purchase] OFF
INSERT [dbo].[PurchaseProducts] ([ProductID], [PurchaseID], [Quantity], [UnitPrice]) VALUES (1, 5, 111, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[PurchaseProducts] ([ProductID], [PurchaseID], [Quantity], [UnitPrice]) VALUES (3, 5, 44, CAST(122.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([ID], [UserId], [UserName], [Platform], [Name], [URL], [CS], [CSPhone], [Contact], [ContactPhone], [Address], [CreateTime]) VALUES (2, 7, N'admin', N'阿里巴巴', N'柯友达', N'http://www.1688.com', N'曾小姐', N'0121 111 1111', NULL, N'0121 111 1111', N'asdasda', CAST(0x0000A310014B90B8 AS DateTime))
SET IDENTITY_INSERT [dbo].[Supplier] OFF
INSERT [dbo].[SupplierProducts] ([SupplierId], [ProductId]) VALUES (2, 1)
INSERT [dbo].[SupplierProducts] ([SupplierId], [ProductId]) VALUES (2, 3)
SET IDENTITY_INSERT [dbo].[TransactionDetail] ON 

GO
SET IDENTITY_INSERT [dbo].[TransactionDetail] OFF
SET IDENTITY_INSERT [dbo].[TransactionItem] ON 

INSERT [dbo].[TransactionItem] ([ID], [TransactionDetailID], [ItemID], [ItemTitle], [ItemQty], [ItemAmt], [CreateTime], [AssociationID]) VALUES (1, 2, N'261216869915', N'7-Inch Leopard Quad Core CPU Android Tablet 1GB RAM HMDI 8GB Nand Dual Camera UK', 0, 65.9900, CAST(0x0000A3180136D6EA AS DateTime), NULL)
INSERT [dbo].[TransactionItem] ([ID], [TransactionDetailID], [ItemID], [ItemTitle], [ItemQty], [ItemAmt], [CreateTime], [AssociationID]) VALUES (2, 3, N'261417485536', N'Quad Core Leopard CPU Android 7-Inch Tablet 1GB RAM HMDI 8GB Nand Dual Camera UK', 0, 59.9900, CAST(0x0000A3180136DA59 AS DateTime), NULL)
INSERT [dbo].[TransactionItem] ([ID], [TransactionDetailID], [ItemID], [ItemTitle], [ItemQty], [ItemAmt], [CreateTime], [AssociationID]) VALUES (3, 4, N'261417485423', N'Quad Core Leopard CPU Android 7-Inch Tablet 1GB RAM HMDI 8GB Nand Dual Camera UK', 0, 59.9900, CAST(0x0000A3180136DDCD AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[TransactionItem] OFF
/****** Object:  Index [IX_PaypalApiID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_PaypalApiID] ON [dbo].[Association]
(
	[PaypalApiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[Association]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_SupplierID] ON [dbo].[Purchase]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[PurchaseProducts]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PurchaseID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_PurchaseID] ON [dbo].[PurchaseProducts]
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductId]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[SupplierProducts]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierId]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_SupplierId] ON [dbo].[SupplierProducts]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssociationID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_AssociationID] ON [dbo].[TransactionItem]
(
	[AssociationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TransactionDetailID]    Script Date: 2014/10/19 7:56:46 ******/
CREATE NONCLUSTERED INDEX [IX_TransactionDetailID] ON [dbo].[TransactionItem]
(
	[TransactionDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agent] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[PaypalApi] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[TransactionDetail] ADD  DEFAULT ((0)) FOR [AgentPostage]
GO
ALTER TABLE [dbo].[TransactionDetail] ADD  DEFAULT ((0)) FOR [Agent]
GO
ALTER TABLE [dbo].[Association]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Association_dbo.PaypalApi_PaypalApiID] FOREIGN KEY([PaypalApiID])
REFERENCES [dbo].[PaypalApi] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Association] CHECK CONSTRAINT [FK_dbo.Association_dbo.PaypalApi_PaypalApiID]
GO
ALTER TABLE [dbo].[Association]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Association_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Association] CHECK CONSTRAINT [FK_dbo.Association_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Purchase_dbo.Supplier_SupplierID] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_dbo.Purchase_dbo.Supplier_SupplierID]
GO
ALTER TABLE [dbo].[PurchaseProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseProducts_dbo.Product_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseProducts] CHECK CONSTRAINT [FK_dbo.PurchaseProducts_dbo.Product_ProductID]
GO
ALTER TABLE [dbo].[PurchaseProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PurchaseProducts_dbo.Purchase_PurchaseID] FOREIGN KEY([PurchaseID])
REFERENCES [dbo].[Purchase] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PurchaseProducts] CHECK CONSTRAINT [FK_dbo.PurchaseProducts_dbo.Purchase_PurchaseID]
GO
ALTER TABLE [dbo].[SupplierProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SupplierProducts_dbo.Product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupplierProducts] CHECK CONSTRAINT [FK_dbo.SupplierProducts_dbo.Product_ProductId]
GO
ALTER TABLE [dbo].[SupplierProducts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SupplierProducts_dbo.Supplier_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupplierProducts] CHECK CONSTRAINT [FK_dbo.SupplierProducts_dbo.Supplier_SupplierId]
GO
ALTER TABLE [dbo].[TransactionItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TransactionItem_dbo.Association_AssociationID] FOREIGN KEY([AssociationID])
REFERENCES [dbo].[Association] ([ID])
GO
ALTER TABLE [dbo].[TransactionItem] CHECK CONSTRAINT [FK_dbo.TransactionItem_dbo.Association_AssociationID]
GO
ALTER TABLE [dbo].[TransactionItem]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TransactionItems_dbo.TransactionDetail_TransactionDetailID] FOREIGN KEY([TransactionDetailID])
REFERENCES [dbo].[TransactionDetail] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransactionItem] CHECK CONSTRAINT [FK_dbo.TransactionItems_dbo.TransactionDetail_TransactionDetailID]
GO
USE [master]
GO
