USE [master]
GO
/****** Object:  Database [EviousCrm]    Script Date: 2014/10/19 7:55:55 ******/
CREATE DATABASE [EviousCrm]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GMSCrm', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GMSCrm.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GMSCrm_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\GMSCrm_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EviousCrm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EviousCrm]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 2014/10/19 7:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CityId] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[City]    Script Date: 2014/10/19 7:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2014/10/19 7:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Gender] [int] NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NULL,
	[Category] [int] NOT NULL,
	[Profession] [int] NOT NULL,
	[AgeGroup] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 2014/10/19 7:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VisitRecord]    Script Date: 2014/10/19 7:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitRecord](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[VisitWay] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[FollowLevel] [int] NOT NULL,
	[FollowStep] [int] NOT NULL,
	[ProductType] [int] NOT NULL,
	[Probability] [int] NOT NULL,
	[Detail] [nvarchar](400) NULL,
	[VisitTime] [datetime] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[AreaDemand] [int] NOT NULL,
	[PriceResponse] [int] NOT NULL,
	[CognitiveChannel] [int] NOT NULL,
	[Focus] [int] NOT NULL,
	[Motivation] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
 CONSTRAINT [PK_VisitRecord] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([ID], [Name], [CityId], [CreateTime]) VALUES (3, N'东洲街道', 1, CAST(0x0000A28A00AF0E37 AS DateTime))
INSERT [dbo].[Area] ([ID], [Name], [CityId], [CreateTime]) VALUES (4, N'富春街道', 1, CAST(0x0000A28A00AF0E37 AS DateTime))
INSERT [dbo].[Area] ([ID], [Name], [CityId], [CreateTime]) VALUES (5, N'鹿山街道', 1, CAST(0x0000A28A00AF0E37 AS DateTime))
SET IDENTITY_INSERT [dbo].[Area] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name], [CreateTime]) VALUES (1, N'富阳市区', CAST(0x0000A28A00AF3AA5 AS DateTime))
INSERT [dbo].[City] ([ID], [Name], [CreateTime]) VALUES (2, N'富阳乡镇', CAST(0x0000A28A00AF3AA5 AS DateTime))
INSERT [dbo].[City] ([ID], [Name], [CreateTime]) VALUES (3, N'杭州', CAST(0x0000A28A00AF3AA5 AS DateTime))
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([ID], [Name], [Tel], [UserId], [Username], [Number], [Gender], [Email], [Address], [Category], [Profession], [AgeGroup], [CreateTime]) VALUES (1, N'张一易', N'13987654356', 1, N'guozili', N'PD120', 1, NULL, NULL, 1, 3, 3, CAST(0x0000A28100BEC4FE AS DateTime))
INSERT [dbo].[Customer] ([ID], [Name], [Tel], [UserId], [Username], [Number], [Gender], [Email], [Address], [Category], [Profession], [AgeGroup], [CreateTime]) VALUES (2, N'李进', N'14534567890', 1, N'guozili', N'PS123', 1, NULL, NULL, 5, 6, 5, CAST(0x0000A28100C5C9BC AS DateTime))
INSERT [dbo].[Customer] ([ID], [Name], [Tel], [UserId], [Username], [Number], [Gender], [Email], [Address], [Category], [Profession], [AgeGroup], [CreateTime]) VALUES (3, N'黎西', N'13487673000', 2, N'guozili2', N'PD333', 2, NULL, NULL, 1, 14, 4, CAST(0x0000A28100C5DDC4 AS DateTime))
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([ID], [Name], [CreateTime]) VALUES (1, N'燕京航城第一期', CAST(0x0000A15B00E69D94 AS DateTime))
INSERT [dbo].[Project] ([ID], [Name], [CreateTime]) VALUES (2, N'凤凰国际黄金海岸', CAST(0x0000A1600139B56B AS DateTime))
INSERT [dbo].[Project] ([ID], [Name], [CreateTime]) VALUES (3, N'滨江一号', CAST(0x0000A30F00F17E4F AS DateTime))
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[VisitRecord] ON 

INSERT [dbo].[VisitRecord] ([ID], [UserId], [Username], [VisitWay], [CustomerId], [ProjectId], [FollowLevel], [FollowStep], [ProductType], [Probability], [Detail], [VisitTime], [CreateTime], [AreaDemand], [PriceResponse], [CognitiveChannel], [Focus], [Motivation], [CityId], [AreaId]) VALUES (1, 1, N'guozili', 2, 1, 1, 1, 1, 1, 10, NULL, CAST(0x0000A28100BED9D0 AS DateTime), CAST(0x0000A28100BED9E7 AS DateTime), 4, 4, 32, 8404992, 5, 2, 7)
INSERT [dbo].[VisitRecord] ([ID], [UserId], [Username], [VisitWay], [CustomerId], [ProjectId], [FollowLevel], [FollowStep], [ProductType], [Probability], [Detail], [VisitTime], [CreateTime], [AreaDemand], [PriceResponse], [CognitiveChannel], [Focus], [Motivation], [CityId], [AreaId]) VALUES (3, 1, N'guozili', 1, 2, 1, 2, 2, 1, 20, NULL, CAST(0x0000A28100D54350 AS DateTime), CAST(0x0000A28100D5444D AS DateTime), 3, 3, 8192, 532480, 3, 2, 7)
INSERT [dbo].[VisitRecord] ([ID], [UserId], [Username], [VisitWay], [CustomerId], [ProjectId], [FollowLevel], [FollowStep], [ProductType], [Probability], [Detail], [VisitTime], [CreateTime], [AreaDemand], [PriceResponse], [CognitiveChannel], [Focus], [Motivation], [CityId], [AreaId]) VALUES (4, 1, N'guozili', 1, 1, 1, 2, 2, 1, 30, NULL, CAST(0x0000A28100D5DF2C AS DateTime), CAST(0x0000A28100D5E053 AS DateTime), 4, 3, 4, 256, 4, 1, 4)
SET IDENTITY_INSERT [dbo].[VisitRecord] OFF
ALTER TABLE [dbo].[Area] ADD  CONSTRAINT [DF_Area_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[City] ADD  CONSTRAINT [DF_City_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF_Customer_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[VisitRecord] ADD  CONSTRAINT [DF_VisitRecord_VisitTime]  DEFAULT (getdate()) FOR [VisitTime]
GO
ALTER TABLE [dbo].[VisitRecord] ADD  CONSTRAINT [DF_VisitRecord_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
USE [master]
GO
