USE [master]
GO
/****** Object:  Database [EviousPms]    Script Date: 2014/10/19 8:00:51 ******/
CREATE DATABASE [EviousPms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EviousPms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EviousPms.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EviousPms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\EviousPms_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EviousPms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EviousPms]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2014/10/19 8:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2014/10/19 8:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Sku] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Size] [nvarchar](max) NULL,
	[Weight] [int] NOT NULL,
	[PackSize] [nvarchar](100) NOT NULL,
	[PackWeight] [int] NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[Username] [nvarchar](50) NULL,
	[CoverPicture] [nvarchar](300) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [Sku], [Name], [Size], [Weight], [PackSize], [PackWeight], [Remark], [CreateTime], [UserId], [Username], [CoverPicture]) VALUES (1, N'HWWA0704B', N'4核炬力平板1GB Ram 8GB Flash', N'22*15*9', 560, N'22*15*9', 750, NULL, CAST(0x0000A30E017499A7 AS DateTime), 0, NULL, N'/Upload/pms/day_140415/201404151036008807.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [UserId]
GO
USE [master]
GO
