USE [master]
GO
/****** Object:  Database [EvisouAccount]    Script Date: 2015/11/23 2:58:21 ******/
CREATE DATABASE [EvisouAccount]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EviousAccount', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EviousAccount.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EviousAccount_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EviousAccount_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EvisouAccount].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EvisouAccount]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoginInfo]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginInfo](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_LoginInfo_CreateTime]  DEFAULT (getdate()),
	[LoginToken] [uniqueidentifier] NOT NULL,
	[LastAccessTime] [datetime] NOT NULL,
	[UserID] [int] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[BusinessPermissionString] [nvarchar](4000) NULL,
	[ClientIP] [nvarchar](90) NULL,
	[EnumLoginAccountType] [int] NOT NULL DEFAULT ((0)),
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoginInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_Role_CreateTime]  DEFAULT (getdate()),
	[Info] [nvarchar](300) NULL,
	[BusinessPermissionString] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_User_CreateTime]  DEFAULT (getdate()),
	[IsActive] [bit] NOT NULL DEFAULT ((1)),
	[Email] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[FullName] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CityOrState] [nvarchar](max) NULL,
	[CountryCode] [nvarchar](max) NULL,
	[ProfileImg] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL CONSTRAINT [DF_UserRole_CreateTime]  DEFAULT (getdate()),
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserSessionData]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessionData](
	[ID] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[LoginToken] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](500) NOT NULL,
	[Value] [image] NOT NULL,
 CONSTRAINT [PK_UserSessionData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VerifyCode]    Script Date: 2015/11/23 2:58:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VerifyCode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VerifyText] [nvarchar](50) NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
 CONSTRAINT [VerifyCode_PK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LoginInfo] ON 

INSERT [dbo].[LoginInfo] ([ID], [CreateTime], [LoginToken], [LastAccessTime], [UserID], [LoginName], [BusinessPermissionString], [ClientIP], [EnumLoginAccountType], [Avatar]) VALUES (63, CAST(N'2014-05-11 07:22:43.473' AS DateTime), N'44e63c56-42fb-4419-8916-66949415504d', CAST(N'2014-05-11 07:22:43.943' AS DateTime), 7, N'admin', N'101,102,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506', N'119.126.179.51', 0, NULL)
INSERT [dbo].[LoginInfo] ([ID], [CreateTime], [LoginToken], [LastAccessTime], [UserID], [LoginName], [BusinessPermissionString], [ClientIP], [EnumLoginAccountType], [Avatar]) VALUES (1061, CAST(N'2014-07-01 18:15:04.793' AS DateTime), N'41a2f7ce-363d-40b4-84bb-5084d906d203', CAST(N'2014-07-01 18:15:05.293' AS DateTime), 7, N'admin', N'101,102,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506', N'183.26.181.202', 0, NULL)
INSERT [dbo].[LoginInfo] ([ID], [CreateTime], [LoginToken], [LastAccessTime], [UserID], [LoginName], [BusinessPermissionString], [ClientIP], [EnumLoginAccountType], [Avatar]) VALUES (1062, CAST(N'2014-07-09 18:22:29.837' AS DateTime), N'8e438fbe-88a9-4abb-a0cd-32344b2120fe', CAST(N'2014-07-10 00:14:12.137' AS DateTime), 7, N'admin', N'101,102,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506', N'218.13.27.108', 0, NULL)
SET IDENTITY_INSERT [dbo].[LoginInfo] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name], [CreateTime], [Info], [BusinessPermissionString]) VALUES (1, N'系统管理员', CAST(N'2013-11-17 14:33:31.920' AS DateTime), N'暂时无', N'101,102,103,201,202,301,302,303,304,401,402,403,501,502,503,504,505,506,507')
INSERT [dbo].[Role] ([ID], [Name], [CreateTime], [Info], [BusinessPermissionString]) VALUES (2, N'高级工程师', CAST(N'2013-11-17 14:43:57.853' AS DateTime), N'暂时无', N'101')
INSERT [dbo].[Role] ([ID], [Name], [CreateTime], [Info], [BusinessPermissionString]) VALUES (3, N'测试工程师', CAST(N'2013-11-23 17:50:50.593' AS DateTime), N'测试项目的人员', NULL)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [LoginName], [Password], [CreateTime], [IsActive], [Email], [Mobile], [FullName], [Address], [CityOrState], [CountryCode], [ProfileImg], [Url]) VALUES (1, N'guozili', N'C9-55-45-E4-DE-40-C0-BE-F5-3D-BF-AF-69-FB-19-DE', CAST(N'2013-11-17 14:31:44.300' AS DateTime), 1, N'guozili@163.com', N'13911153443', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([ID], [LoginName], [Password], [CreateTime], [IsActive], [Email], [Mobile], [FullName], [Address], [CityOrState], [CountryCode], [ProfileImg], [Url]) VALUES (2, N'guozili2', N'96-E7-92-18-96-5E-B7-2C-92-A5-49-DD-5A-33-01-12', CAST(N'2013-11-23 14:19:41.767' AS DateTime), 0, N'guozili2@gmail.com', N'13856567825', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[User] ([ID], [LoginName], [Password], [CreateTime], [IsActive], [Email], [Mobile], [FullName], [Address], [CityOrState], [CountryCode], [ProfileImg], [Url]) VALUES (4, N'guozili3', N'96-E7-92-18-96-5E-B7-2C-92-A5-49-DD-5A-33-01-12', CAST(N'2013-11-23 16:45:44.610' AS DateTime), 1, N'guozili3@163.com', N'13911854551', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([ID], [UserID], [RoleID], [CreateTime]) VALUES (1, 1, 1, CAST(N'2013-11-17 14:33:44.560' AS DateTime))
INSERT [dbo].[UserRole] ([ID], [UserID], [RoleID], [CreateTime]) VALUES (2, 1, 2, CAST(N'2013-11-17 14:45:12.183' AS DateTime))
INSERT [dbo].[UserRole] ([ID], [UserID], [RoleID], [CreateTime]) VALUES (7, 2, 1, CAST(N'2013-11-23 17:13:45.870' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
ALTER TABLE [dbo].[UserSessionData] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[VerifyCode] ADD  CONSTRAINT [DF_VerifyCode_CreateTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
USE [master]
GO
